.admin-title {
  text-transform: capitalize;
  padding-left: 20px;
}

.divider {
  border-right: 1px solid #e8e8e8;
}

.float-right {
  float: right;
}

.ant-menu,
.logo,
.ant-layout-sider-children {
  background: #242a33 !important;
}

.ant-layout-sider-trigger {
  background: #22262d !important;
}

.ant-row.ant-form-item {
  margin-bottom: 5px;
}

.global-search-input {
  z-index: 2;
  top: 0px !important;
}

.ant-layout-header {
  background: #22262d !important;
}

.ant-layout-header * {
  color: white;
}

.logo img {
  width: 100%;
}

/* Helpers */

.fw {
  width: 100%;
}

.fh {
  height: 100vh;
}

.center-text {
  text-align: center;
}

.fade {
  animation: fade;
  animation-duration: 1s;
}

.fadeIn {
  animation: fade;
  animation-duration: .8s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cancelada {
  background-color: #b71540;
  color: white;
}

/* Datatable */

.dt-edit-button {
  font-size: 18px;
  color: #1890ff;
}

.dt-toggle-status-btn {
  color: #1890ff;
  cursor: pointer;
}

/*  */
.uploader label {
  cursor: pointer;
}